.search-bar {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    background-color: #2F2F43;
}

.search-input {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0px;
    outline: none;
}

.home-container {
    background-color: #161625;
    display: flex;
    flex-direction: column;
}

.table-container {
    width: 80%;
    overflow-x: auto;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
}

.confirmed-cases {
    color: red;
    font-size: 14px;
}

.active-cases {
    color: #007bff;
    font-size: 14px;
}

.recovered-cases {
    color: #28a745;
    font-size: 14px;
}

.deceased-cases,
.population {
    color: #6c757d;
    font-size: 14px;
}

.table-state-name {
    color: #f1f5f9;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto;
}

.loader-container {
    height: 90vh;
    padding: auto;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    color: white;
}

.loader {
    margin: auto;
    align-self: center;
}


th {
    padding: 10px;
    border: none;
}

td {
    border: none;
    padding: 10px;
    font-size: 10px;
}

hr {
    width: 500px;
}

thead {
    border-radius: 1px solid red;
}

.search-list {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding-left: 0px;
    height: 80vh;
    overflow: auto;
    color: white;
}

.search-list::-webkit-scrollbar {
    display: none;
}

.search-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.search-state-code {
    color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid goldenrod;
}