.header{
    background-color: #1e1e30;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    height: 10vh;
}
.header-links{
    display: flex;
    gap: 20px;
}

span{
    color: cornflowerblue;
}