.specific-state-container {
    background-color: #161625;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-districts {
    list-style-type: none;
    color: #94A3B8;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: auto;
}

.district-item {
    display: flex;
    gap: 10px;
    background-color: aliceblue;
}

@media screen and (max-width:600px) {
    .top-districts {
        grid-template-columns: repeat(2, 1fr);
    }
    .specific-state-container {
        background-color: #161625;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}

.state-header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    color: white;
}